<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14D0F623E8404D91EE2C74C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EF574ADAA1C963350E8984E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>267D3A0AAEA9A0D8D036299D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C201966DEC17751C7A9C80B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3035A8AB2B681DC9BFA3EAF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33CF8932DA94C11464EF8B17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5577489127FA7A670ED58DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59B39490068B16EAA52076AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E87796146383D904394A77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61FD8EB0BB7C7F7A2F8BE8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C24F0745D9DBBC2E8BD3D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80957AD6406F389C439ED036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949566A76A83E5520D4E0EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96EB65E2DE6C37647E32A1BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F4C353B894E31299A5FAAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB4329F1A106F29DB1B1C293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3252C992D4B64B5CC25465C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B98B353B0F4E85A595C98542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA18AF30E139AB2808DB1993</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB1CD29DD09CFD881E9575C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
